{% extends "layout.html.twig" %}

{% block content %}
    <header>
        <h1>Welcome!</h1>
        <p>This is the api for JobBau, please download the application for iOS here: <a href="#">App Store</a></p>
        <hr/>
        <p>This application helps you to find a job, as uncomplicated and straight-forward as possible</p>
        <hr/>
    </header>

    <footer>
        <ul class="icons">
            <li><a href="http://famoser.ch" class="fa-link">famoser.ch</a></li>
        </ul>
    </footer>
{% endblock %}
