body, html {
    min-height: 100%;
    width: 100%;
}

#content:after,
.property-group:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.admin-wrapper {
    background-color: rgba(255, 255, 255, 08);
    min-height: 100%;
    margin: 20px;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    z-index: 100;
}

#footer {
    padding: 1.5em 0 2em 0;
}

ul {
    list-style: none;
}

ul li {
    padding: 0 0 0.2em 0;
}

.property .title {
    margin-bottom: 0;
}

.property .value {
    font-weight: bold;
}

table.clickable tr td,
.clickable p,
.clickable h3,
.clickable img {
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

table.clickable tr:hover td,
.clickable:hover p,
.clickable:hover h3 {
    color: #ff7496 !important;
}

.steckbrief {
    border: 1px solid #eee;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
}

.steckbrief h3 {
    margin: 1em 0 2em 0;
    text-align: center;
}

.steckbrief p {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-transform: none;
    letter-spacing: normal;
    margin: 0 0 0.8em 0;
    line-height: 1.5em;
}

.steckbrief img {
    height: 200px;
    margin: 0 auto;
    border-radius: 100%;
}