body, html {
    min-height: 100%;
    width: 100%;
}

#content:after,
.property-group:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

.admin-wrapper {
    background-color: rgba(255, 255, 255, 08);
    min-height: 100%;
    margin: 20px;
    border-radius: 10px;
    padding: 40px;
    position: relative;
    z-index: 100;
}

#footer {
    padding: 1.5em 0 2em 0;
}

ul {
    list-style: none;
}

ul li {
    padding: 0 0 0.2em 0;
}

.property .title {
    margin-bottom: 0;
}

.property .value {
    font-weight: bold;
}